<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN Offer Form</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/CSSClient.css' %}">
    <link rel="icon" type="image/jpg" href="{% static '/images/imghome/icon.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="form-wrapper">
        <form action="{% url 'adminOfferPage' %}" method="POST" id="offerForm">
            {% csrf_token %}
            <h2>Offer Information</h2>
            <a href="/database" class="close-button"><i class="fas fa-times"></i></a>
            <p class="description">Please fill out the form below to register a new Offer.</p>

            <div class="form-group">
                <label for="id_name">Name</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="id_inclusions">Inclusions</label>
                {{ form.inclusions }}
            </div>

            <div class="form-group">
                <label for="id_price">Price</label>
                {{ form.price }}
            </div>

            <input type="submit" name="Submit" value="Submit">
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('offerForm');
            const closeButton = form.querySelector('.close-button');

            closeButton.addEventListener('click', function(event) {
                event.preventDefault();
                if (confirm('Are you sure you want to close the form? Any unsaved changes will be lost.')) {
                    window.location.href = '/database'; // Redirect or close action
                }
            });
        });
    </script>
</body>
</html>
