<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/CSSFooter.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        <footer>
                <div class="container">
                         <div class="sec aboutus">
                             <h2>JClipse Photography</h2>
                             <p>Imagination meets reality.</p>
                             <ul class="sci">
                                 <li><a href="#" class="fa-brands fa-facebook-f"></a></li>
                                 <li><a href="#" class="fa-brands fa-twitter"></a></li>
                                 <li><a href="#" class="fa-brands fa-instagram"></a></li>
                                 <li><a href="#" class="fa-brands fa-tiktok"></a></li>
                             </ul>
                         </div>
                         <div class="sec quicklinks">
                             <h2>Support</h2>
                             <ul>
                                 <li><a href="#">FAQ</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                                 <li><a href="#">Help</a></li>
                                 <li><a href="#">Contact</a></li>
                             </ul>
                         </div>
                         <div class="sec quicklinks">
                             <h2>Packages</h2>
                             <ul>
                                 <li><a href="#">Family</a></li>
                                 <li><a href="#">Wedding</a></li>
                                 <li><a href="#">Portrait</a></li>
                                 <li><a href="#">Promotion</a></li>
                             </ul>
                         </div>
                         <div class="sec contact">
                             <h2>Contact Us</h2>
                             <ul class="info">
                                 <li>
                                     <span><i class="fa-solid fa-phone"></i></span><p><a href="#">+63 09123456789</a></p>
                                 </li>
                                 <li>
                                     <span><i class="fa-solid fa-envelope"></i></span><p><a href="#">jclipsephotography@gmail.com</a></p>
                                 </li>
                             </ul>
                         </div>
                </div>
        </footer>
        <div class="copyrightText">
            <p>Copyright © JClipse Photography. All Rights Reserved.</p>
        </div>
</body>
</html>